body {
    background-color: rgb(245, 209, 214);
    color: #353333;
    font-size: 30px;
}

.head{
    color: rgb(49, 17, 2);
    text-align: center;
    background-color: rgb(245, 232, 215);
    margin: 50px auto; 
    padding: 30px auto; 
}

.background{
    background-color: rgb(248, 214, 160);
    text-align: center;
    margin: 30px auto;
}


    